.details-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  /* border: 2px solid red; */
  /* justify-content: space-around; */
}

.details-poster {
  height: 300px;
  box-shadow: 2px 2px 2px #9b9b9b;
  border-radius: 15px;
}

.details-content-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.details-title-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
}

.details-title {
  font-family: "Roboto";
  font-weight: bold;
  color: #4a4a4a;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.detail-rating {
  font-family: "Roboto";
  font-weight: bold;
  color: #9b9b9b;
  margin: 8px;
}

.years-length-name-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.y-l-n {
  font-family: "Roboto";
  font-weight: bold;
  color: #4a4a4a;
}
.details-cast {
  margin: 10px;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 17px;
}

.details-description {
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 17px;
  margin: 10px;
  width: 100%;
  /* color: #4a4a4a; */
}

@media screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }
}
